<div class="navigation container mt-3">
    <div class="design-images d-flex w-100 flex-row-reverse">
        <div class="design-image-one text-end w-100">
            <img src="assets/img/design-imgs/design-img-one.png" width="18%" alt="">
        </div>
        <div class="design-image-two w-100">
            <img src="assets/img/design-imgs/design-img-two.png" width="18%" alt="">
        </div>
    </div>
    <div class="nav-style my-0 mx-auto">
        <nav class="navbar navbar-expand py-0">
            <div class="container">
                <div class="navbar-nav my-0 mx-auto">
                    <a class="nav-a my-0 m-2" href="#">We</a>
                    <a class="nav-a my-0 m-2" href="#">Menu</a>
                    <a class="nav-a my-0 m-2" href="#">Services</a>
                    <a class="nav-a my-0 m-2" href="#">Contact</a>
                </div>
            </div>
        </nav>
    </div>
</div>